<div class="container">

  <div class="home-info">

    <h1>O'LUNCH</h1>

    <div class="entities">
      <% @entities.each do |entity| %>
        <%= link_to entity_locations_path(entity) do %>

        <% if entity.photo.present? %>
          <%= cl_image_tag entity.photo.key, class: 'entity-avatar' %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "entity-avatar" %>
        <% end %>
          <p><%= entity.name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= button_to "logout", destroy_user_session_path, method: :delete, class: "button-green"  %>
</div>
