<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <% if user_signed_in? %>
      <%# <li class="nav-item dropdown"> %>
        <%= cl_image_tag current_user.photo.key, class: "avatar nav-item dropdown", id:"loading" %>
        <!-- <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar nav-item dropdown", id:"loading" %> -->
      <%# </li> %>
  </button>



  <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>




        <li class="nav-item">
          <%#= link_to entity_locations_path(current_user.entities.first), class: "nav-link" do %>
          <%= link_to entity_locations_path(current_entity),  class: "nav-link" do %>
          <%# :<button> %>
          <%#= image_tag "map-logo.png", class: "map" %>
          <%# </button> %>
            <i class="fas fa-map-marked font-size-40px <%= "active" if controller.controller_name == "locations" && controller.action_name == "index" %>"></i>
          <% end %>
          <p>Map</p>
        </li>

        <li class="nav-item">
          <div class="events-upcoming">
            <%= link_to dashboard_entity_path(current_entity), class: "nav-link" do %>
              <i class="fas fa-calendar-day font-size-40px <%= "active" if controller.controller_name == "dashboards" && controller.action_name == "dashboard" %>"></i>
            <% end %>
            <p>Events</p>
            <% if current_user.pending_events_as_attendee.count != 0 %>
              <div class="events-upcoming-picto"><%= current_user.pending_events_as_attendee.count %></div>
            <% end %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to new_entity_location_path(current_entity), class: "nav-link" do %>
            <i class="fas fa-calendar-plus font-size-40px <%= "active" if controller.controller_name == "locations" && controller.action_name == "new" %>"></i>
          <% end %>
          <p>Create Location</p>
        </li>


        <li class="nav-item active">
          <%= link_to root_path, class: "nav-link" do %>
              <%= cl_image_tag current_entity.photo.key, class: "nav-ent-logo" %>
            <% if current_entity.photo.attached? %>
            <% else %>
              <%= image_tag "https://via.placeholder.com/20", class: "nav-ent-logo" %>
            <% end %>

            <%# <i class="fas fa-th-large font-size-40px"></i> %>
          <% end %>
          <%#= current_user.entity %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
      <% end %>
</div>
