<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <% if user_signed_in? %>
      <%# <li class="nav-item dropdown"> %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar nav-item dropdown", id:"loading" %>
      <%# </li> %>
  </button>
  
  

  <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>




        <li class="nav-item active">
          <%= link_to entity_locations_path(current_user.entities.first), class: "nav-link" do %>
            <i class="fas fa-map-marked color-green font-size-40px"></i>
          <% end %>
          <p>Map</p>
        </li>

        <li class="nav-item">
          <%= link_to dashboard_path, class: "nav-link" do %>
            <i class="fas fa-calendar-day color-green font-size-40px"></i>
          <% end %>
          <p>Events</p>
        </li>

        <li class="nav-item">
          <%= link_to new_entity_location_path(current_user.entities.first), class: "nav-link" do %>
            <i class="fas fa-calendar-plus color-green font-size-40px"></i>
          <% end %>
          <p>Create Location</p>
        </li>


        <li class="nav-item active">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fas fa-th-large color-green font-size-40px"></i>
          <% end %>
          <%#= current_user.entity %>
      
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
      <% end %>
</div>
