<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <% if user_signed_in? %>
 <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <%#= cl_image_tag current_entity.photo.key, width: 50, height: 50, class: "avatar nav-item dropdown", id:"loading" %>
    </button> -->


    <button class="navbar-toggle">
          <%= cl_image_tag current_entity.photo.key, width: 50, height: 50, class: "avatar nav-item dropdown", id:"loading" %>
    </button>


  <div class="navbar-content bg-white navbar-hidden">
  <!-- <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent"> -->
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to entity_locations_path(current_entity),  class: "nav-link" do %>
            <i class="fas fa-map-marked font-size-40px <%= "active" if controller.controller_name == "locations" && controller.action_name == "index" %>"></i>
          <% end %>
          <p>Map</p>
        </li>

        <li class="nav-item">
          <div class="events-upcoming">
            <%= link_to dashboard_entity_path(current_entity), class: "nav-link" do %>
              <i class="fas fa-calendar-day font-size-40px <%= "active" if controller.controller_name == "dashboards" && controller.action_name == "dashboard" %>"></i>
            <% end %>
            <p>Events</p>
            <% if current_user.pending_events_as_attendee.upcoming.count != 0 %>
              <div class="events-upcoming-picto"><%= current_user.pending_events_as_attendee.upcoming.count %></div>
            <% end %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to new_entity_location_path(current_entity), class: "nav-link" do %>
            <i class="fas fa-calendar-plus font-size-40px <%= "active" if controller.controller_name == "locations" && controller.action_name == "new" %>"></i>
          <% end %>
          <p>Create<br>Location</p>
        </li>


        <li class="nav-item active">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fas fa-th-large font-size-40px"></i>
            <p>Entities</p>
          <% end %>
        </li>

      <div class="log-out">
        <%= link_to destroy_user_session_path, method: :delete, class: "d-block text-center" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
        <p>Log out</p>
      </div>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>

    </ul>
  </div>
  <% else %>
          <li class="nav-item">
          </li>
  <% end %>

</div>
