<h1>Welcome to the Party</h1>

<%= simple_form_for [@location, @event] do |f| %>
  <%= f.input :public %>
  
  <%= simple_fields_for :invitations do |x| %>
    <%= x.input :attendees, collection: User.all.map { |user| ["#{user.firstname} #{user.lastname}", user.id]}, input_html: { class: "select2", multiple: true } %>
  <% end %>

  <%= f.input :start_at, label: "Event Time", as: :string, input_html: { class: 'datepicker' } %>
  <%= f.submit "Create Event", class: "utton-green" %>
<% end %>
