
<!-- Button trigger modal -->
<!-- <button type="button" class="fas fa-search-location" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->
<%= link_to "#", id: "search-icon", data: { toggle: "modal", target: "#exampleModal" } do %><i class="fas fa-search-location"></i><% end %>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag entity_locations_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a category"
          %>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
        <% end %>
    </div>
  </div>
</div>


<div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-entity-marker="<%= @entity_marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  <% @locations.each do |loc| %>
    <div id="location-<%= loc.id %>" class="location-show location-hide">
      <% if loc.photo.attached? %>
        <%= cl_image_tag loc.photo.key, class: 'location-image' %>
      <% else %>
        <%= image_tag image_path('foodvtop.jpg'), class: 'location-image' %>
      <% end %>

      <div class="location-show__details">
        <div class="infos-loca">
          <h2><%= loc.name %></h2>
          <%= loc.address %>
          <%= link_to location_path(loc), class: "comment-btn" do  %>
            <i class="fas fa-comment-dots"></i>
          <% end %>
          <% loc.today_public_events.each do |event| %>
            <h3>Public events at <%= loc.name %> :</h3>
            <div class = "present-users">
              <i class="fas fa-beer"></i>
              <% event.users.each do |user| %>
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, class: 'avatar' %>
                <% else %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
                <% end %>
              <%= link_to "join", event_attendees_path(event), class:"button_join", method: :post %>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= link_to 'Create an Event', new_location_event_path(loc), class: "button" %>
      </div>
    </div>
  <% end %>
</div>
