<div class="location-new">
  <div class="container <!-- fixed-bottom -->">

  <%= simple_form_for [@entity, @location] do |f| %>
  <%= f.input :name,
      label: false,
      placeholder: 'Location Name',
      input_html: { class: 'olunch-input'} %>
    <%= f.input :address,
      label: false,
      placeholder: 'Address',
      input_html: { class: 'olunch-input'} %>
    <%= f.input :category,
     label: false,
     collection: ['Asian', 'Bar', 'Bistrot', 'Burger', 'Kebab', 'Coffee Shop', 'Hawaiian', 'Health', 'Lebanese', 'Mexican', 'Pizza', 'Sandwich', 'Supermarket', 'Sushi'],
     input_html: { class: "select2" } %>
    <%= f.input :photo, as: :file, label: "Upload photo", label_html: { class: "photo-upload-label" }, input_html: { class: "d-none"} %>
    <%= f.submit "Create a Location", class: "button-green" %>
  <% end %>

  </div>
</div>
